/* App.css */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #00acfe, #01fe70);
}

.calculator {
  max-width: 400px; /* Adjust the width as needed */
  width: 100%;
  border-radius: 12px;
  padding: 20px;
  background: #000e1a;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.display {
  width: 100%; /* Match the dark navy blue area's width */
  height: 3rem;
  border-radius: 12px 12px 0px 0px;
  outline: none;
  padding: 10px;
  border: none;
  text-align: right;
  margin-bottom: 10px;
  font-size: 25px;
  color: white;
  background: rgb(105, 142, 243);
  pointer-events: none;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

button {
  padding: 20px 10px;
  border-radius: 6px;
  border: none;
  font-size: 25px;
  cursor: pointer;
  background-color: #000e1a;
  color: white;
  width: 100%;
}

.operator {
  color: coral;
}
/* App.css */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #00acfe, #01fe70);
}

.calculator {
  max-width: 400px; /* Adjust the width as needed */
  width: 100%;
  border-radius: 12px;
  padding: 20px;
  background: #000e1a;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.display {
  width: 100%; /* Match the dark navy blue area's width */
  height: 3rem;
  border-radius: 12px 12px 0px 0px;
  outline: none;
  padding: 10px;
  border: none;
  text-align: right;
  margin-bottom: 10px;
  font-size: 25px;
  color: white;
  background: rgb(105, 142, 243);
  pointer-events: none;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

button {
  padding: 20px 10px;
  border-radius: 6px;
  border: none;
  font-size: 25px;
  cursor: pointer;
  background-color: #000e1a;
  color: white;
  width: 100%;
}

.operator {
  color: coral;
}
